body {
    background-color: rgb(24, 18, 16);
}
.flex-container {
  display: inline-block;
  flex-wrap: nowrap;
  flex-direction: column;

}

.column {
  float: left;
  width: 33.33%;

}


.row:: {
  content: "";
  clear: both;
  display: table;
}
img {
  border-radius: 5%;
  display: inline-block;

  flex-direction: column;
 
}

span.test2 {
  writing-mode: vertical-rl; 

}

.animate-charcter
{

   text-align: left;
  background-image: linear-gradient(
    100deg,
    rgb(252, 244, 247) 0%,
    #d7ecf7 63%,
    rgb(252, 244, 247)23%,
    rgb(250, 243, 249) 100%
   
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 5s linear infinite;
  display: inline-block;
      font-size: 120px;
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}

p {
  color: rgb(252, 244, 247);
  font-family: 'young serif';
  font-size: medium;
  align-items: center;
}
h1 {
  margin-left: 25pt;
  color: rgb(252, 244, 247);
  font-family: gasoek one;
  justify-content: flex-start;
  flex: 50%;
  font-size: 120pt;
}
pre{
  font-family: 'smooch sans';
  font-size: 20pt;
  text-align: left;
}

.imageBox {
  position: relative;
float: none;
  display: inline-block;
}

.imageBox .hoverImg {
  position: absolute;
  left: 0;
  top: 0;
  display: none;
}

.imageBox:hover .hoverImg {
  display: inline-block;
}

.imageBoxRight {
  position: relative;
float: none;
  display: inline-block;
}



@media only screen and (max-width: 600px) {
  h1{
    margin-right: 50%;
    width: 200px;
    font-size: 40pt;
  }
  pre{
    line-height: 40px;
    font-size: 13pt;
    font-family: smooch sans;
  }
  p {
    display: none;
  }
}

@media only screen and (max-width: 1200px) {

  pre{
    line-height: 40px;
    font-size: 13pt;
    font-family: young serif;
  }
  h1{
  font-size: 60pt;}
  p {
    display: none;
  }
  .animate-charcter{
  background-image: linear-gradient(
    100deg,
    rgb(65, 181, 219) 0%,
    #878dfa 63%,
    rgb(244, 226, 214)23%,
    rgb(250, 243, 249) 100%
   
  )
}
}