body {
    background-image: url(imgs/blue-1.jpg);
    background-size: cover;

   
}
h1 {
  opacity: 80%;
  font-size: 100pt;
    margin-right: -700pt;
    color: rgb(252, 244, 247);
    font-family: gasoek one;
    font-variant: small-caps;
}
h1:hover {
  opacity: 100%;
    color: rgb(255, 201, 228);
  
}
p3 {

 text-align: left;
    color: rgb(252, 244, 247);
    font-family: 'gasoek one';
    /* font-family: young serif; */
}
pre:hover { color: rgb(240, 135, 187);

}
 h4 {
    margin-left: 80%;
    text-align: right;
    color: rgb(252, 244, 247);
    font-family: smooch sans;
}
p {
    margin-left: 80%;
    text-align: right;
    color: rgb(252, 244, 247);
    font-family: smooch sans;
    font-size: 20pt;
    margin-right: 34pt;
}

.animate-charcter
{
  background-image: linear-gradient(
    -225deg,
    #fff1fd 0%,
    #21239a 67%,
    #fefefe 100%
  );
  background-size: auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 1s reverse infinite;
  display: inline-block;
  font-family: 'gasoek one';
  margin-left: -10cm;

}
@keyframes textclip {
  to {
    color:#ffffff;
    background-position: 200% center;
  }
}

a:link {
    font-size: 20pt;
    color:rgb(252, 244, 247);
    text-decoration: dotted;
    font-family: smooch sans;
    padding: 10px 24px; 
    margin-left: 10%;
    line-height: 0.85cm;
  }
  
  /* visited link */
  a:visited {
    font-size: 20pt;
    margin-top: 150pt;
    color: rgb(252, 244, 247);
    text-decoration: dotted;
    margin-left: 10%;
    font-family: 'smooch sans';
    padding: 10px 24px; 
  }
  
  /* mouse over link */
  a:hover {
    font-size: 20pt;
    margin-top: 15pt;
    color: rgb(240, 135, 187);
    font-family: 'gasoek one';
    margin-left: 10%;
    padding: 10px 24px; 
  }
  
  /* selected link */
  a:active {
    font-size: 20pt;
    margin-top: 15pt;
    color: rgb(189, 189, 240);
    font-family: smooch sans;
    margin-left: 10%;
    padding: 10px 24px; 
  }
/* .btn-group button {
    font-family: smooch sans;
    opacity: 90%;
    background-color: rgb(43, 43, 48);
    border-radius: 10%;
    color: rgb(252, 244, 247); 
    padding: 10px 24px; 
    cursor: pointer; 
    width: 10%; 
    margin-top: 5pt;
    margin-left: 10%;
    font-size: medium;
    display: block; /* Make the buttons appear below each other */
  /* } */
  
  /* .btn-group button:not(:last-child) {
    border-bottom: none; /* Prevent double borders */
  /* } */
  
  /* Add a background color on hover */
  /* .btn-group button:hover {
    background-color: #677bac;
  } */ */ */


.flex-container {
    display: flex;
    flex-direction: row;
  }

  .flex-container > div {
    width: 1000px;
    margin: 10px;
    text-align: center;
    line-height: 75px;
 
  }


span.test2 {
    display: inline;
    writing-mode: vertical-rl; 
  }


@media only screen and (max-width: 600px) {

body{
  background-size: 600px;
}
.animate-charcter{

  display: none;
}
h1{
  margin-right: 10%;
}
h1:hover {
  color:aqua;
}

a:hover {
  color: aqua;

}
p{
  width: 2cm;
  margin-right: 50%;
  margin-bottom: -3cm;
}
}
  
@media only screen and (max-width:1200px; min-width: 601px) {
  body{
    background-size: contain;
  }
p3{
  display: none;
}
  h1:hover {
    color:#5557ff;
  }
  a:hover {
    color:#595cff;
  
  }
  h1{
    margin-right: 70%;
  }
  p{
    margin-right: 20%;
    width: 4cm;
  }
  
    .animate-charcter{
      margin-left: -16cm;
      display:none;
    }

    }