body {
  background-color: rgb(20, 17, 14);
}

h1{
  text-align: center;
  color: white;
  font-size: 100px;
  font-family: 'Smooch Sans';
  margin-bottom: -100px;
  height: 200pt;
}

* {
  box-sizing: border-box;
}

.column {
  float: left;
  width: 33.33%;
  padding: 5px;
}

.column2 {
  float: left;
  width: 50%;
  padding: 5px;
}

.row:: {
  content: "";
  clear: both;
  display: table;
}

.imageBox {
  position: relative;
float: none;
  display: inline-block;
}

.imageBox .hoverImg {
  position: absolute;
  left: 0;
  top: 0;
  display: none;
}

.imageBox:hover .hoverImg {
  display: inline-block;
}

.imageBoxRight {
  position: relative;
float: none;
  display: inline-block;
}
