body {
  background-color: rgb(18, 12, 10);
}

h1{
  text-align: center;
  color: rgb(252, 244, 247);
  font-size: 100px;
  font-family: 'gasoek one';
  margin-bottom: -100px;
  height: 200pt;
}
h1:hover {
  font-variant: small-caps;
}

* {
  box-sizing: border-box;
}

.column {
  float: left;
  width: 33.33%;
  padding: 5px;
}

.column2 {
  float: left;
  width: 50%;
  padding: 5px;
}

.row:: {
  content: "";
  clear: both;
  display: table;
}

.imageBox {
  position: relative;
float: none;
  display: inline-block;
}

.imageBox .hoverImg {
  position: absolute;
  left: 0;
  top: 0;
  display: none;
}

.imageBox:hover .hoverImg {
  display: inline-block;
}

.imageBoxRight {
  position: relative;
float: none;
  display: inline-block;
}


/* @media only screen and (max-width: 600px) {}
  @media only screen and (max-width: 1200px, min-width:601px){} */


  @media only screen and (max-width: 600px) {
    body{
      background-color: rgb(32, 32, 44);
    }
    h1{
      color: rgb(245, 232, 220);
      margin-bottom: 15cm;
      margin-top: -4cm;

    }
  }
  @media only screen and (max-width: 1400px, min-width:601px) {
    h1{
      margin-bottom: 5cm;
      font-size: 50pt;
      color: aquamarine;
    }
  }