.flex-container {
    display: inline-block;
    flex-wrap: nowrap;
    flex-direction: row;  
  
  }
body {
    background-color: rgb(28, 29, 20);
    font-family: 'smooch sans';
    padding: 50px;
}
h1{
    text-align: left;
    color: #FFFFFF;
    font-size: 100px;
    font-family: 'smooch sans';

}

pre{
    color: #d7ecf7;
    font-family: 'smooch sans';
    font-size: 20pt;
}


.p{
    color: #D0D7DE;
    font-size: 20pt;
    font-family: 'EB Garamond';
}

 
img {
    border-radius: 5%;
    display: inline-block;
    border-style: dotted;
    border-color: #d7ecf7;
    border-width: 5px;
    flex-direction: column;
    justify-content: right;
}
span.test2 {
    writing-mode: vertical-rl; 
  
  }
.imageBox {
    position: relative;
  float: none;
    display: inline-block;
  }
  
  .imageBox .hoverImg {
    position: absolute;
    left: 0;
    top: 0;
    display: none;
  }
  
  .imageBox:hover .hoverImg {
    display: inline-block;
  }
  
  .imageBoxRight {
    position: relative;
  float: none;
    display: inline-block;
  }
  

.animate-charcter
{
    font-family: 'EB Garamond';
   text-align: left;
  background-image: linear-gradient(
    100deg,
    #d7ecf7 0%,
    #d7ecf7 63%,
    rgb(28, 29, 20)23%,
    rgb(250, 243, 249) 100%
   
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 15s linear infinite;
  display: inline-block;
      font-size: 20px;
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}