.flex-container {
    display: inline-block;
    flex-wrap: nowrap;
    flex-direction: row;  
  
  }
body {
  background-color: rgb(23, 19, 17);
    font-family: 'smooch sans';
    padding: 50px;
}
h1{
    text-align: left;
    color:rgb(252, 244, 247);
    font-size: 100px;
    font-family: 'gasoek one';

}

pre{
    color: rgb(252, 244, 247);
    font-family: 'smooch sans';
    font-size: 20pt;
    margin-left: -25pt;
}


.p{
    color: rgb(252, 244, 247);
    font-size: 20pt;
    font-family: 'EB Garamond';
}

 
img {
    border-radius: 5%;
    display: inline-block;
    border-width: 5px;
    flex-direction: column;
    justify-content: right;
}
span.test2 {
    writing-mode: vertical-rl; 
  
  }
.imageBox {
    position: relative;
  float: none;
    display: inline-block;
  }
  
  .imageBox .hoverImg {
    position: absolute;
    left: 0;
    top: 0;
    display: none;
  }
  
  .imageBox:hover .hoverImg {
    display: inline-block;
  }
  
  .imageBoxRight {
    position: relative;
  float: none;
    display: inline-block;
  }
  

.animate-charcter
{
    font-family: 'gasoek one';
   text-align: left;
   background-image: linear-gradient(
    100deg,
    rgb(252, 244, 247) 0%,
    #d7ecf7 63%,
    rgb(252, 244, 247)23%,
    rgb(250, 243, 249) 100%
   
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 5s linear infinite;
  display: inline-block;
      font-size: 20px;
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}

@media only screen and (max-width: 600px) {
  .animate-charcter{
    background-image: linear-gradient(
      100deg,
      rgb(255, 243, 173) 0%,
      #f5f5f5 63%,
      rgb(234, 185, 36)23%,
      rgb(250, 243, 249) 100%
     
    );

  }
  h1{
   margin-top: -1cm;
   margin-left: 5px;
    width: 200px;
    font-size: 50pt;
  }
  pre{
    margin-left: 5px;
    line-height: 40px;
    font-size: 13pt;
    font-family: smooch sans;
  }
  img{
    margin-left: 2cm;
  }

}

@media only screen and (max-width: 1200px) {

  .animate-charcter{
    background-image: linear-gradient(
      100deg,
      rgb(173, 245, 255) 0%,
      #f5f5f5 63%,
      rgb(36, 198, 234)23%,
      rgb(250, 243, 249) 100%
     
    );

  }
  h1{
    font-size: 60pt;
  }
}
