body{
  background-color: rgb(234, 227, 215);
}


h3:hover {
  animation: shake 0.5s;
  animation-iteration-count: infinite;
}


p{
  font-size: large;
  margin-left: 50%;
  font-family: 'Pixelify Sans', sans-serif;
  color: hotpink;
}
p:hover{
  color: rgb(255, 98, 0);
}
p2:hover{
  color: rgb(255, 98, 0);
}


p2 {
  font-family: 'smooch sans';
  color:#3e2105;
  font-size: medium;
}

img:hover {
  animation: shake 0.5s;
  animation-iteration-count: infinite;
}

@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}

.animate-charcter
{ margin-top: -1cm;
   text-transform: uppercase;
  background-image: linear-gradient(
    -225deg,
    #090909 0%,
    #3e2105 67%,
    #fefefe 100%
  );
  background-size: auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 1s linear infinite;
  display: inline-block;
      font-size: 120px;
      font-family: 'gasoek one';
  
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}





.div {
  width: 200px;
  height: 10px;
  font-size: medium;
  position: relative;
  animation: myfirst 15s linear 10s infinite alternate;
  color:#fff
}

span.test2 {
  writing-mode: vertical-rl; 
}

@keyframes myfirst {
  0%   {left:0px; top:0px;}
  25%  {left:600px; top:0px;}
  50%  {left:1000px; top:200px;}
  75%  {left:0px; top:200px;}
  100% {left:0px; top:0px;}
}




@media only screen and (max-width: 600px) {

  body{
    background-color: aliceblue;
  }


  @keyframes myfirst {
    0%   {left:0px; top:0px;}
    25%  {left:0px; top:0px;}
    50%  {left:300px; top:0px;}
    75%  {left:0px; top:0px;}
    100% {left:0px; top:0px;}
  }


  .animate-charcter{
    margin-top: 1cm;
    margin-bottom: 6cm;
    font-size: 40pt;
    width:500px;
    text-align: center;
    background-image: linear-gradient(
      -225deg,
      #090909 0%,
      aliceblue 67%,
      #fefefe 100%
    );
  }
  p2{
    margin-bottom: 12cm;
  
  }
p{
  color: rgb(2, 93, 142);
}
  p:hover{
   color: rgb(21, 0, 255);
  
  }
  p2:hover{
    color: rgb(2, 93, 142);
  }
}