body{
    opacity: 70%;
    background-image: url(imgs/background.jpeg);
    background-size: cover;
    background-attachment: fixed;
}

a: link{
  text-decoration: none;
}
  h1{
    font-variant: small-caps;
    opacity: 90%;
    background-color: #181007;
    text-align: center;
    color: rgb(252, 244, 247);
    font-size: 100px;
    font-family: 'gasoek one';
    font-style: regular;
    margin-bottom: -100px;
}
h2{
    background-color: black;
   border-radius: 1px;
    font-family: 'smooch sans';
    color: rgb(252, 244, 247);
    font-size: 20pt;
}

p{
    background-color: black;
   font-size: 20pt;
    text-align: center;
    color: rgb(252, 244, 247);
    font-size: 25pt;
    font-family: 'smooch sans';
}

* {
    box-sizing: border-box;
  }


.flex-container {
  display: flex;
  flex-wrap: wrap;
  font-size: 30px;
  text-align: center;
}

.flex-item-left {
  padding: 10px;
  flex: 50%;
}

.flex-item-right {
  padding: 10px;
  flex: 50%;
}

@media only screen and (max-width: 600px) {
body{
opacity: 90%;
background-size: 600px;
}
h1{
  opacity: 90%;
  background-color: black;
  padding-top: 3cm;
  padding-bottom: 3cm;
}
p{
  padding: 10px;
}
}


  @media only screen and (max-width: 1200px) {
    body{
      opacity: 80%;
      background-attachment: fixed;
    }
    h1{
      opacity: 95%;
      background-color: beige;
      color: black;
    }

    p{      background-color: beige;
      color: black;
      padding: 5px;
      font-family: young serif;
    }

  }