.api {
    background-color:rgb(28, 29, 20);
    padding: 20px;
    font-family: 'EB Garamond';
    line-height: 1.5;
    font-size: large;
  }

  h1{
    background-color: #4b809c;
    text-align: center;
    color: #d7ecf7;
    font-size: 100px;
    font-family: 'smooch sans';
    font-style: regular;
    margin-bottom: -100px;
}
h2{
    background-color: #4b809c;
    font-family: 'smooch sans';
    color: #d7ecf7;
    font-size: 20pt;
}

p{
    text-align: center;
    color: #d7ecf7;
    font-size: 25pt;
    font-family: 'smooch sans';
}
p1{
    background-color: #4b809c;
    text-align: center;
    color: #d7ecf7;
    font-size: medium;
    font-family: 'EB Garamond';
}
p2{
    padding: 20px;
    font-family: 'EB Garamond';
    color: #d7ecf7;
    line-height: 1.5;
    font-size: large;
    text-align: center;
}
p3{
    background-color: rgb(28, 29, 20);
    padding: 20px;
    font-family: 'EB Garamond';
    color: #d7ecf7;
    line-height: 1.5;
    font-size: large;
    text-align: center;
}
.gradient-1{
    background-color: rgb(28, 29, 20);
    padding: 20px;
    color: #d7ecf7;
    font-family: 'EB Garamond';
    line-height: 1.5;
    font-size: large;
    text-align: center;

}

.gradient-2{
    background-color: #4b809c;
    padding: 20px;
    color: #d7ecf7;
    font-family: 'EB Garamond';
    line-height: 1.5;
    font-size: large;
    text-align: center;

}

.gradient-3{
    background-color: rgb(28, 29, 20);
    padding: 20px;
    color: #d7ecf7;
    font-family: 'EB Garamond';
    line-height: 1.5;
    font-size: large;
    text-align: center;

}
.gradient-4{
    background-color: #4b809c;
    padding: 20px;
    color: #d7ecf7;
    font-family: 'EB Garamond';
    line-height: 1.5;
    font-size: large;
    text-align: center;

}



.gradient-5{
    background-color: rgb(28, 29, 20);
    padding: 20px;
    font-family: 'EB Garamond';
    color: #d7ecf7;
    line-height: 1.5;
    font-size: large;
    text-align: center;

}

.gradient-6{
    background-color: #4b809c;
    padding: 20px;
    font-family: 'EB Garamond';
    color: #d7ecf7;
    line-height: 1.5;
    font-size: large;
    text-align: center;

}