

body{
  background-image: url(imgs/note-book.webp);
}

/* .wrapper {
  flex-direction: row;
  align-content: flex-end;
  display: flex;
  flex-flow: wrap;
}

.wrapper > * {
  flex: 1 100%;
} */
p{
  margin-top: 3cm;
  font-family: young serif;
  color:#8f537f;
  font-size: 20pt;
}
.top {
  padding-top: 8cm;
}

#heart{
  display: row;
  width:100pt
  padding: 10px;
}

.flex-container {
  flex-direction: inline-block;
  display: flex;
  flex-wrap: wrap;
  font-size: 30px;
  text-align: center;
}



.flex-item-right {
  padding: 10px;
  flex: 50%;
}

img { 
  border-radius: 5%;
    display: inline-block; 
    width:auto;   
    margin-top: 50pt;
    max-width: 100%;
    max-height: 100%;

}
pre{
  margin-top: -2cm;
  color: #412e19;
  font-size: small;
  text-align: left;
}


.imageBox {
  overflow: auto;
  white-space: nowrap;
  position: relative;
  display: inline-block;
  text-align: center;
  padding: 14px;
  text-decoration: none;
}

.imageBox .hoverImg {
  position: absolute;
  left: 0;
  top: 0;
  display: none;
}

.imageBox:hover .hoverImg {
  display: inline-block;
}

.animate-charcter
{
  background-image: linear-gradient(
    -225deg,
    hotpink 0%,
    #8d658d 67%,
    #3e2105 100%
  );
  background-size: auto;
  background-clip: border-box;
  background-size: 300% auto;
  color: #fff;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 2s reverse infinite;
  display: inline-block;
  font-family: 'gasoek one';
  stroke-width: 0.5pt;
      font-size: 100px;
      padding-top: 3cm;
}


@keyframes textclip {
  to {
    color:#ffffff;
    background-position: 200% center;
  }
}





.main {
margin-top: 3cm;
  font-family: 'Pixelify Sans', sans-serif;
  font-size: 10pt;

  

}


.song{
  padding-block: 10px;
  font-size: 100px;
  font-family: 'young serif';
   font-style: bold;
   color:#3e2105;
  padding-bottom: 40px;
  
}

.nav{
  background-color: rgb(226, 162, 210);
  font-size: larger;
  font-family: 'young serif';
  color: rgb(168, 97, 123);
}



.div {
  margin-top: 7cm;
  margin-bottom: 3cm;
  width: 200px;
  height: 10px;
  position: relative;
  animation: myfirst 8s linear 4s infinite alternate;
  color:hotpink;
  font-family: 'Pixelify Sans', sans-serif;}

span.test2 {
  writing-mode: vertical-rl; 
}

@keyframes myfirst {
  0%   {left:0px; top:0px;}
  25%  {left:600px; top:0px;}
  50%  {eft:600px; top:600px;}
  75%  {left:0px; top:600px;}
  100% {left:0px; top:0px;}
}
/* for mobile */
@media only screen and (max-width: 800px) {

  body{
    background-color: #0b0b0a;
  }
  .animate-charcter{
    font-size: 50pt;
    font-variant: small-caps;
    background-image: linear-gradient(
      -225deg,
      hotpink 0%,
      #f6d1f6 67%,
      #3e2105 100%
    );
  }

@keyframes myfirst {
  0%   {left:0px; top:0px;}
  25%  {left: 0px; top:0px;}
  50%  {left:200px; top:00px;}
  75%  {left:0px; top:0px;}
  100% {left:0px; top:0px;}
}
  /* .nav{
    display: flex;
    order: 2;
    height: 100%;
    justify-content: left;
    padding-left: 2cm;
    align-items: left;
    font-family: 'Smooch sans';
    font-style: bold;
    font-size: 3em;
    color: rgb(252, 244, 247);
  } */
  
  .song {
    display: flex;
    order: 1;
    height: 100px ;
    justify-content: center;
    align-items: center;
    font-family: 'young serif';
    font-style: italic;
        font-size: 2em;
  }
  
  .main {
    display: flex;
    order: 3;
    text-align: left;
    font-size: 15pt;
    font-weight: bold;
    padding: 1em;
    color:#b2659c;
  }
.nav {
  margin-top: 9cm;
  margin-bottom:-5cm;
}
}





@media all and (min-width: 801px) {
  p{
    margin-top: 6cm;
  }
  .main {
    /* this says MAIN TAKES UP 3 COLUMNS > change this number to change width   */
    flex: 3;
    /* this says MAIN IS 1st IN ORDER */
    order: 1;
    /*  this is all your font styling and positioning for MAIN    */
  margin-top: 2cm;
  margin-bottom: 2cm;
    font-style: bold;
    text-align: left;
    font-size: 2em;
    font-weight: bold;

  }

  .aside {
    /* this says ASIDE TAKES UP 1 COLUMN > change this number to change width   */
    flex: 1;
    /* this says ASIDE IS 2ND ORDER */
    order: 2;
    /* this is all of the font styling and padding for ASIDE   */

    font-style: bold;
    padding: 1em;
    font-size: 2em;
  }
  
  .song {
    margin-top: 3cm;
    font-family: 'young serif';
    display: flex;
    order: 3;
    width: 50%;
    height: 100px;
    justify-content: center;
    align-items: center;
    font-style: italic;
    font-size: 2em;
    color: rgb(114, 114, 114);
  }



  .nav{
    display: flex; 
    order: 4;
    position: fixed;
    bottom: 0px;
    height: 5%;
    width: 100%;
    justify-content: center;
    align-items: center;
    font-family: 'young serif';
    font-style: bold;
    font-size: 1.5em;
    color: rgb(116, 78, 93);
  }
  .imageBox {
    overflow: auto;
    white-space: nowrap;
    position: relative;
    display: inline-block;
    text-align: center;
    padding: 30px;
    text-decoration: none;
    border-radius: 5%;
  }

  
}
