body {
  background-color: rgb(28, 29, 20);
}

#myVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 80%;


}


.animate-charcter
{
  font-family: 'EB Garamond';
 text-align: left;
background-image: linear-gradient(
  100deg,
  #d7ecf7 23%,
  #d7ecf7 63%,
  rgb(155, 104, 46)0%,
  rgb(250, 243, 249) 100%
 
);
background-size: auto auto;
background-clip: border-box;
background-size: 200% auto;
color: #fff;
background-clip: text;
-webkit-text-fill-color: transparent;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
animation: textclip 20s linear infinite;
display: inline-block;
    font-size: 20px;
}

@keyframes textclip {
to {
  background-position: 200% center;
}
}

p {

color: #d7ecf7;
font-family: 'smooch sans';
font-size: 20pt;
text-align: left;
}
h1 {
color: #d7ecf7;
font-family: 'Smooch Sans';
justify-content: flex-start;
flex: 50%;
font-size: 50pt;
}
pre{
font-family: 'smooch sans';
font-size: 20pt;
text-align: left;
}



@media all and (max-width: 800px) {
pre{
  font-size:15pt;
  font-family: 'smooch sans';
  word-wrap: break-word;
  text-align: center;
  align-items: center;
}

.animate-charcter {
background-image: linear-gradient(
  100deg,
  #e4cba5 23%,
  #f5f7d7 63%,
  rgb(104, 66, 23)0%,
  rgb(249, 218, 185) 100%
 
);
}


p{

}

#myVideo {
align-items: center;
  max-width:110%;
  max-height: 110%; 

}
h1{
  font-size: medium;
}
}