body{
  background-color: black;
}

.wrapper {
  flex-direction: row;
  align-content: flex-start;
  display: flex;
  flex-flow: wrap;
}

.wrapper > * {
  flex: 1 100%;
}

.top {
  padding-top: 8cm;
}
pre{
  color: #90bbc5;
}

.imageBox {
  overflow: auto;
  white-space: nowrap;
  position: relative;
  display: inline-block;
  text-align: center;
  padding: 14px;
  text-decoration: none;
}

.imageBox .hoverImg {
  position: absolute;
  left: 0;
  top: 0;
  display: none;
}

.imageBox:hover .hoverImg {
  display: inline-block;
}

.animate-charcter
{
  background-image: linear-gradient(
    -225deg,
    #e3c30b 0%,
    #90bbc5 29%,
    #bd64d5 67%,
    #90bbc5 100%
  );
  background-size: auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 1s reverse infinite;
  display: inline-block;
      font-size: 120px;
      padding-top: 3cm;
}

@keyframes textclip {
  to {
    color:#bd64d5;
    background-position: 200% center;
  }
}





.main {
  border: 3px solid #90bbc5;
  border-radius: 100px;
  border-style: dotted;
  font-family: 'Pixelify Sans', sans-serif;
  color:#bd64d5;
  font-size: small;

  

}


.song{
  padding-block: 10px;
  font-size: 100px;
  font-family: 'Pixelify Sans', sans-serif;
   font-style: bold;
   color:#bd64d5;
  padding-bottom: 40px;
  
}

.nav{
  font-size: larger;
  font-family: 'Dancing Script', cursive;
  color:#bd64d5;
}



.div {
  margin-top: 7cm;
  width: 200px;
  height: 10px;
  position: relative;
  animation: myfirst 8s linear 4s infinite alternate;
  color:#bd64d5;
  font-family: 'Pixelify Sans', sans-serif;}

span.test2 {
  writing-mode: vertical-rl; 
}

@keyframes myfirst {
  0%   {left:0px; top:0px;}
  25%  {left:600px; top:0px;}
  50%  {eft:600px; top:600px;}
  75%  {left:0px; top:600px;}
  100% {left:0px; top:0px;}
}
/* for mobile */
@media all and (max-width: 800px) {
  .nav{
    display: flex;
    order: 2;
    height: 10%;
    justify-content: center;
    align-items: center;
    font-family: 'Dancing Script', cursive;
    font-style: bold;
    font-size: 1em;
    color:#bd64d5;
  }
  
  .song {
    display: flex;
    order: 1;
    height: 100px ;
    justify-content: center;
    align-items: center;
    font-family: 'Pixelify Sans', sans-serif;
        font-size: 2em;
        color:#bd64d5;
  }
  
  .main {
    display: flex;
    order: 3;
    font-family: sans-serif;
    text-align: left;
    font-family: 'Pixelify Sans', sans-serif;
       font-size: 1.2em;
    font-weight: bold;
    padding: 1em;
    color:#bd64d5;
  }
}





@media all and (min-width: 801px) {
  .main {
    /* this says MAIN TAKES UP 3 COLUMNS > change this number to change width   */
    flex: 3;
    /* this says MAIN IS 1st IN ORDER */
    order: 1;
    /*  this is all your font styling and positioning for MAIN    */
    font-family: 'Pixelify Sans', sans-serif;
    font-style: bold;
    text-align: left;
    font-size: 4em;
    font-weight: bold;
    padding-left: 3em;
    padding-top: 3em;
    padding-right: 1em;
  }

  .aside {
    /* this says ASIDE TAKES UP 1 COLUMN > change this number to change width   */
    flex: 1;
    /* this says ASIDE IS 2ND ORDER */
    order: 2;
    /* this is all of the font styling and padding for ASIDE   */
    font-family: 'Pixelify Sans', sans-serif;
    font-style: bold;
    padding: 1em;
    font-size: 2em;
  }
  
  .song {
    font-family: 'Pixelify Sans', sans-serif;
    display: flex;
    order: 3;
    width: 50%;
    height: 100px;
    justify-content: center;
    align-items: center;
    font-style: italic;
    font-size: 2em;
    color: white;
  }



  .nav{
    display: flex; 
    order: 4;
    position: fixed;
    bottom: 0px;
    height: 5%;
    width: 100%;
    justify-content: center;
    align-items: center;
    font-family: 'Dancing Script', cursive;
    font-style: bold;
    font-size: 1.5em;
    color:#bd64d5;
  }
  
}
