body{
  background-image: url(imgs/note-book.webp);
  background-size: cover;
  background-attachment: fixed;
}
button {
  font-family: 'young serif';
  border-radius: 0%;
  color: #bd64d5;
  border-color:#e4c0ee;
  border-radius: 15%;
  font-size: 15pt;
  margin-bottom: 4cm;

}
img{
  display:none;
}
.wrapper {
  flex-direction: row;
  align-content: flex-start;
  display: flex;
  flex-flow: wrap;
}

.wrapper > * {
  flex: 1 100%;
}

.top {
  padding-top: 8cm;
}
pre{
  color: #659eaa;
}

/* .imageBox {
  overflow: auto;
  white-space: nowrap;
  position: relative;
  display: inline-block;
  text-align: center;
  /* padding: 14px; */
  /* text-decoration: none;
}

.imageBox .hoverImg {
  position: absolute;
  left: 0;
  top: 0;
  display: none;
}

.imageBox:hover .hoverImg {
  display: inline-block;
} */ 

.animate-charcter
{
  background-image: linear-gradient(
    -225deg,
    #fff2a7 0%,
    #90bbc5 29%,
    #e8b8f5 67%,
    #90bbc5 100%
  );
  background-size: auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 1s reverse infinite;
  display: inline-block;
  font-family: 'gasoek one';
      font-size: 120px;
   margin-top: -3cm;
   margin-bottom: -3cm;
}

@keyframes textclip {
  to {
    color:#bb91c5;
    background-position: 200% center;
  }
}





.main {
  border: 3px solid #75aab6;
  border-radius: 100px;
  border-style: dotted;
  font-family: 'Pixelify Sans', sans-serif;
  color:#bf8ecc;
  font-size: small;

  

}


.song{
  padding-block: 10px;
  font-size: 100px;
  font-family: 'Pixelify Sans', sans-serif;
   font-style: bold;
   color:#c891d5;
  padding-bottom: 40px;
  
}

.nav{
  margin-top: -1cm;
  font-size: larger;
  font-family: 'young serif';
  color:#c98bda;
}



.div {
  margin-top: 7cm;
  width: 200px;
  height: 10px;
  position: relative;
  animation: myfirst 8s linear 4s infinite alternate;
  color:#c095cc;
  font-family: 'Pixelify Sans', sans-serif;}

span.test2 {
  writing-mode: vertical-rl; 
}

@keyframes myfirst {
  0%   {left:0px; top:0px;}
  25%  {left:300px; top:0px;}
  50%  {left:300px; top:300px;}
  75%  {left:0px; top:300px;}
  100% {left:0px; top:0px;}
}


@media only screen and (max-width: 600px) {
  body{
    background-color: gray;
  }
h3{
  color: whitesmoke;
  text-align: center;
  margin-top: ;
}
.nav{
  margin-top: 0cm;
  text-align: center;
  color: #d996b1;
  margin-bottom: -4cm;
}
.animate-charcter{
  font-size: 60pt;
  background-image: linear-gradient(
    -225deg,
    #ffffff 0%,
    #90bbc5 29%,
    #ffb8d6 67%,
    #cae9f0 100%
  );
  
}
p{
  margin-top: -6cm;
  font-size: small;
  color: #f8d8e5;
}
pre{
  margin-top: 7cm;
  color: #916a7a;

}
button{
  color: #db88f1;
  font-family: 'young serif';
  border-color: #cae9f0;
  font-size: 12pt;
  margin-bottom: 2cm;
}

img{
  display: none;
}
@keyframes myfirst {
  0%   {left:0px; top:0px;}
  25%  {left:0px; top:0px;}
  50%  {eft:200px; top:0px;}
  75%  {left:0px; top:0px;}
  100% {left:0px; top:0px;}
}
.div{
  display: none;
}
}