body {
    background-color: #6087a5 ;
}



.underline {
    color: white;
    text-decoration: underline #2d7f9e double 5px;
    text-align: right;
    orientation:  15deg ;
  }

  .animate-charcter
{
    font-family: 'Dancing Script', cursive;
   text-decoration: underline #2d7f9e double 5px;
   text-align: left;
  background-image: linear-gradient(
    -225deg,
    #2d7f9e 0%,
    white 29%,
    #334b64 67%,
    white 100%
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 2s linear infinite;
  display: inline-block;
      font-size: 80px;
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}
span.test2 {
    writing-mode: vertical-rl; 
  }

.column {
    float:right;
    width: 50%;


    
  }

  /* Clearfix (clear floats) */
.row::after {
    content: "";
    clear: both;
    display: table;
  }

.border{
    display: block;
    margin-left: auto;
    margin-right: auto;

}

img {
    border-radius: 5%;
}

.div {
    width: 200px;
    height: 10px;
    position: relative;
    animation: myfirst 8s linear 4s infinite alternate;
  }
  
  @keyframes myfirst {
    0%   {left:0px; top:0px;}
    25%  {left:600px; top:0px;}
    50%  {eft:600px; top:600px;}
    75%  {left:0px; top:600px;}
    100% {left:0px; top:0px;}
  }