body {
  background-image: url(imgs/small.png);
  background-size: cover;
  background-attachment: fixed;

}


h1{
margin-top: 5cm;
  text-align: center;
  color: rgb(228, 211, 195);
  font-size: 80px;
  margin-bottom: 200px;
  height: 400pt;
  font-family: 'gasoek one';
font-variant: small-caps;
}

h1:hover {
  color: rgb(251, 122, 47);
}

a:link {
  text-decoration: none;
}
a:visited {

  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
a:active {
  background-color: transparent;
  text-decoration: none;
}
.newspaper {
  margin-top: 3cm;
  column-count: 3;
  column-gap: 40px;
  color: rgb(223, 208, 189);
  column-rule: 1px solid rgb(228, 211, 195);
  text-align: center;
  font-family: 'young serif';
  font-size: large;
  margin-bottom: 20cm;
}




.column {
    float:right;
    width: 50%;
    
  }

  /* Clearfix (clear floats) */
.row::after {
    content: "";
    clear: both;
    display: table;
  }

.border{
    display: block;
    margin-left: auto;
    margin-right: auto;

}

img {
    border-radius: 5%;
}

.div {
    width: 200px;
    height: 10px;
    position: relative;
    animation: myfirst 8s linear 4s infinite alternate;
  }
  
  @keyframes myfirst {
    0%   {left:0px; top:0px;}
    25%  {left:600px; top:0px;}
    50%  {eft:600px; top:600px;}
    75%  {left:0px; top:600px;}
    100% {left:0px; top:0px;}
  }


  
@media only screen and (max-width: 600px) {
  h1{
    padding-top: 3cm;
    font-size: 40pt;
    margin-left: 1cm;
    margin-right: 1cm;
    font-variant: normal;
  }
  h1:hover {
    opacity: 50%;
    color: rgb(188, 192, 254);
    padding-top: 3cm;
    
  }

  .newspaper{
    color: rgb(246, 230, 210);
    font-size: 10pt;
  }
}