body {
  background-image: url(imgs/note-book.webp);
  background-size: cover;
  background-attachment: fixed;
}
.flex-container {
display: inline-block;
flex-wrap: nowrap;
flex-direction: column;



}

img {
border-radius: 5%;
display: inline-block;
color:rgb(154, 110, 126);
border-width: 5px;
flex-direction: column;



}

span.test2 {
writing-mode: vertical-rl; 

}

.animate-charcter
{
  font-family: 'EB Garamond';
 text-align: left;
background-image: linear-gradient(
  100deg,
  rgb(163, 100, 123)23%,
  #58849b 63%,
  rgb(154, 128, 51)0%,
  rgb(163, 91, 152) 100%
 
);
background-size: auto auto;
background-clip: border-box;
background-size: 200% auto;
color: #a76868;
background-clip: text;
-webkit-text-fill-color: transparent;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
animation: textclip 20s linear infinite;
display: inline-block;
    font-size: 20px;
}

@keyframes textclip {
to {
  background-position: 200% center;
}
}

p {
color: #53798d;
font-family: 'smooch sans';
font-size: 17pt;
align-items: center;
margin-bottom: 2cm;
}
h1 {
margin-top: -1cm;
color: #5e859a;
font-family: 'gasoek one';
justify-content: flex-start;
flex: 50%;
font-size: 100pt;
}


.imageBox {
position: relative;
float: none;
display: inline-block;
align-items: flex-end;
}

.imageBox .hoverImg {
position: absolute;
left: 0;
top: 0;
display: none;
align-items: flex-end;
}

.imageBox:hover .hoverImg {
display: inline-block;
align-items: flex-end;
}

.imageBoxRight {
position: relative;
float: none;
display: inline-block;
align-items: flex-end;
}


.column {
    flex: 33.33%;
    padding: 5px;
}

.row {
  display: flex;
}

@media only screen and (max-width: 800px) {

  h1{
    margin-top: 1cm;
    margin-bottom: 1cm;
    font-size: 50pt;
  }
p{
  font-size:15pt;
  font-family: 'smooch sans';
}
span.test2{
  display: none;
}
.animate-charcter{
  background-image: linear-gradient(
  100deg,
  rgb(132, 119, 112)23%,
  #1c1a19 63%,
  rgb(93, 150, 164)0%,
  rgb(14, 14, 20) 100%
 
);
}
.column {
  float: left;
  width: 46%;

}

.row {
  content: "";
  clear: both;
  display: table;
}
}